In [93]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestClassifier
import tensorflow as tf
import os as os
import pickle

In [94]:
file_list = os.listdir()

In [95]:
# Transform the datasets into Xs and Ys
def TransformSamples3 (sample1, sample2, sample3):
    sample1 = sample1.T.to_numpy()[1:]
    sample2 = sample2.T.to_numpy()[1:]
    sample3 = sample3.T.to_numpy()[1:]
    x = np.append(sample1, sample2, axis=0).astype('float32')
    x = np.append(x, sample3, axis=0).astype('float32')
    y = np.array([0]*len(sample1) + [1]*len(sample2)+[2]*len(sample3))
    return x, y

In [96]:
healthy_group_filename = []
moderate_group_filename = []
severe_group_filename = []
for i in file_list:
    if 'Healthy' in i:
        healthy_group_filename.append(i)
        continue
    if 'Moderate' in i:
        moderate_group_filename.append(i)
        continue
    if 'Severe' in i:
        severe_group_filename.append(i)
        continue

In [97]:
healthy_group = []
moderate_group = []
severe_group = []
for i in healthy_group_filename:
    healthy_group.append(pd.read_csv(i, index_col='Unnamed: 0'))
for i in moderate_group_filename:
    moderate_group.append(pd.read_csv(i, index_col='Unnamed: 0'))
for i in severe_group_filename:
    severe_group.append(pd.read_csv(i, index_col='Unnamed: 0'))

In [98]:
severe_group

[         Genename       Counts    Sample
 0            B9D2  1245.169400  Severe 3
 1            JAG2     6.079997  Severe 3
 2          DNASE1   427.077100  Severe 3
 3            TRMU   491.825530  Severe 3
 4            RRP9   374.227600  Severe 3
 ...           ...          ...       ...
 17201       FOXF1     0.000000  Severe 3
 17202  AC092316.1     0.000000  Severe 3
 17203   FOXP1-AS1     0.000000  Severe 3
 17204     ANKRD61     0.000000  Severe 3
 17205   TNKS2-AS1    12.892557  Severe 3

 [17206 rows x 3 columns],
          Genename      Counts    Sample
 0            B9D2  873.285770  Severe 1
 1            JAG2    8.139229  Severe 1
 2          DNASE1  497.972700  Severe 1
 3            TRMU  954.037960  Severe 1
 4            RRP9  905.841400  Severe 1
 ...           ...         ...       ...
 17201       FOXF1   12.618297  Severe 1
 17202  AC092316.1    0.000000  Severe 1
 17203   FOXP1-AS1    3.496724  Severe 1
 17204     ANKRD61    0.000000  Severe 1
 17205   TNKS2-AS1   49.778427  Severe 1

 [17206 rows x 3 columns],
          Genename       Counts     Sample
 0            B9D2   560.518600  Severe 10
 1            JAG2   210.621570  Severe 10
 2          DNASE1  1569.110600  Severe 10
 3            TRMU  1369.009300  Severe 10
 4            RRP9   465.784600  Severe 10
 ...           ...          ...        ...
 17201       FOXF1    53.347794  Severe 10
 17202  AC092316.1     6.407103  Severe 10
 17203   FOXP1-AS1    52.781906  Severe 10
 17204     ANKRD61     6.884032  Severe 10
 17205   TNKS2-AS1     2.121854  Severe 10

 [17206 rows x 3 columns],
          Genename       Counts    Sample
 0            B9D2   942.786560  Severe 2
 1            JAG2    13.075047  Severe 2
 2          DNASE1   846.918700  Severe 2
 3            TRMU  1412.561600  Severe 2
 4            RRP9  1274.152000  Severe 2
 ...           ...          ...       ...
 17201       FOXF1     0.000000  Severe 2
 17202  AC092316.1     0.000000  Severe 2
 17203   FOXP1-AS1     5.707495  Severe 2
 17204     ANKRD61     0.000000  Severe 2
 17205   TNKS2-AS1    18.619375  Severe 2

 [17206 rows x 3 columns],
          Genename       Counts    Sample
 0            B9D2  2589.838100  Severe 5
 1            JAG2     9.521463  Severe 5
 2          DNASE1  1160.954300  Severe 5
 3            TRMU   931.492900  Severe 5
 4            RRP9   424.106380  Severe 5
 ...           ...          ...       ...
 17201       FOXF1     0.000000  Severe 5
 17202  AC092316.1     0.000000  Severe 5
 17203   FOXP1-AS1    20.079092  Severe 5
 17204     ANKRD61     2.981515  Severe 5
 17205   TNKS2-AS1    29.549898  Severe 5

 [17206 rows x 3 columns],
          Genename      Counts    Sample
 0            B9D2  145.248050  Severe 8
 1            JAG2  167.842930  Severe 8
 2          DNASE1  501.463320  Severe 8
 3            TRMU  654.631400  Severe 8
 4            RRP9  213.004790  Severe 8
 ...           ...         ...       ...
 17201       FOXF1   55.147060  Severe 8
 17202  AC092316.1   32.467533  Severe 8
 17203   FOXP1-AS1   52.016838  Severe 8
 17204     ANKRD61    0.000000  Severe 8
 17205   TNKS2-AS1   33.333336  Severe 8

 [17206 rows x 3 columns],
          Genename      Counts    Sample
 0            B9D2  353.388300  Severe 0
 1            JAG2    7.452002  Severe 0
 2          DNASE1   18.534513  Severe 0
 3            TRMU  192.102140  Severe 0
 4            RRP9   84.225090  Severe 0
 ...           ...         ...       ...
 17201       FOXF1    0.000000  Severe 0
 17202  AC092316.1    0.000000  Severe 0
 17203   FOXP1-AS1    0.000000  Severe 0
 17204     ANKRD61    0.000000  Severe 0
 17205   TNKS2-AS1    9.294121  Severe 0

 [17206 rows x 3 columns],
          Genename       Counts    Sample
 0            B9D2  1538.445400  Severe 4
 1            JAG2     1.584786  Severe 4
 2          DNASE1   524.610900  Severe 4
 3            TRMU   294.459350  Severe 4
 4            RRP9   257.379580  Severe 4
 ...           ...          ...       ...
 17201       FOXF1     0.000000  Severe 4
 17202  AC092316.1     0.000000  Severe 4
 17203   FOXP1-AS1     0.000000  Severe 4
 17204     ANKRD61     0.000000  Severe 4
 17205   TNKS2-AS1     0.000000  Severe 4

 [17206 rows x 3 columns],
          Genename      Counts     Sample
 0            B9D2  295.262400  Severe 13
 1            JAG2   24.086374  Severe 13
 2          DNASE1  726.067440  Severe 13
 3            TRMU  357.593380  Severe 13
 4            RRP9  100.944180  Severe 13
 ...           ...         ...        ...
 17201       FOXF1    3.667851  Severe 13
 17202  AC092316.1    3.956207  Severe 13
 17203   FOXP1-AS1   13.598816  Severe 13
 17204     ANKRD61    1.397819  Severe 13
 17205   TNKS2-AS1    5.187511  Severe 13

 [17206 rows x 3 columns],
          Genename       Counts    Sample
 0            B9D2  1305.933300  Severe 6
 1            JAG2   129.846730  Severe 6
 2          DNASE1  1849.774300  Severe 6
 3            TRMU  1416.563100  Severe 6
 4            RRP9   591.926700  Severe 6
 ...           ...          ...       ...
 17201       FOXF1     6.053269  Severe 6
 17202  AC092316.1    13.286356  Severe 6
 17203   FOXP1-AS1    45.861570  Severe 6
 17204     ANKRD61    48.745117  Severe 6
 17205   TNKS2-AS1    71.317220  Severe 6

 [17206 rows x 3 columns],
          Genename       Counts     Sample
 0            B9D2   818.448360  Severe 11
 1            JAG2    77.485740  Severe 11
 2          DNASE1  3163.216300  Severe 11
 3            TRMU  1816.007000  Severe 11
 4            RRP9   598.302730  Severe 11
 ...           ...          ...        ...
 17201       FOXF1    12.770911  Severe 11
 17202  AC092316.1    12.072504  Severe 11
 17203   FOXP1-AS1    67.932620  Severe 11
 17204     ANKRD61    35.784786  Severe 11
 17205   TNKS2-AS1    24.366234  Severe 11

 [17206 rows x 3 columns],
          Genename       Counts    Sample
 0            B9D2   365.226140  Severe 9
 1            JAG2   125.011310  Severe 9
 2          DNASE1  1044.607800  Severe 9
 3            TRMU  1055.183700  Severe 9
 4            RRP9   303.131400  Severe 9
 ...           ...          ...       ...
 17201       FOXF1   106.586530  Severe 9
 17202  AC092316.1     0.000000  Severe 9
 17203   FOXP1-AS1    77.099270  Severe 9
 17204     ANKRD61    54.600574  Severe 9
 17205   TNKS2-AS1    22.624435  Severe 9

 [17206 rows x 3 columns]]

In [99]:
genes = healthy_group[0]['Genename'].values

In [100]:
from sklearn.preprocessing import MinMaxScaler

In [101]:
scaler = MinMaxScaler()
Xs = []
ys = []
for i in healthy_group:
    Xs.append(scaler.fit_transform(np.log1p(i['Counts'].values).reshape(-1,1)).flatten())
    ys.append(0)
for i in moderate_group:
    Xs.append(scaler.fit_transform(np.log1p(i['Counts'].values).reshape(-1,1)).flatten())
    ys.append(1)
for i in severe_group:
    Xs.append(scaler.fit_transform(np.log1p(i['Counts'].values).reshape(-1,1)).flatten())
    ys.append(2)
Xs = np.array(Xs)
ys = np.array(ys)

In [102]:
Xs_train, Xs_test = train_test_split(Xs, random_state=7)
ys_train, ys_test = train_test_split(ys, random_state=7)

In [13]:
np.save('ys_severity', ys)

# Random Forest

In [103]:
from sklearn.model_selection import cross_val_score, ShuffleSplit
from sklearn.ensemble import RandomForestClassifier

In [105]:
rf = RandomForestClassifier(max_depth=10, n_jobs=10)
rf_result_list = []
rf.fit(Xs_train,ys_train)
rf_result = pd.DataFrame({'Gene index':np.arange(len(genes)),
              'Importance':rf.feature_importances_}).sort_values(by='Importance')
rf_result_selected = rf_result[rf_result['Importance']!=0]
rf_result_list.append(rf_result_selected)
rf.score(Xs_test, ys_test)

0.8333333333333334

In [106]:
# An accuracy improvement!
rf.fit(Xs_train[:,rf_result_selected['Gene index']], ys_train)
rf.score(Xs_test[:,rf_result_selected['Gene index']], ys_test)

0.9166666666666666

In [20]:
# Save the RF model
with open ('RF.pickle', 'wb') as file:
    pickle.dump(rf, file)

In [21]:
with open ('RF.pickle', 'rb') as file:
    rf_load = pickle.load(file)

In [22]:
rf_load.feature_importances_

array([0.        , 0.        , 0.        , 0.        , 0.00290834,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00073881, 0.        , 0.00305556, 0.        , 0.        ,
       0.        , 0.00361842, 0.00099564, 0.        , 0.        ,
       0.00084615, 0.00406433, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00459069,
       0.        , 0.        , 0.        , 0.00457569, 0.        ,
       0.        , 0.        , 0.00088   , 0.00091667, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00409582, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00086075, 0.00090815, 0.        , 0.        ,
       0.        , 0.0012375 , 0.        , 0.01162561, 0.00310754,
       0.00177377, 0.        , 0.        , 0.00045833, 0.        ,
       0.00439006, 0.        , 0.        , 0.        , 0.        ,
       0.00093551, 0.00067485, 0.00397182, 0.        , 0.        ,
       0.        , 0.00189569, 0.        , 0.00085566, 0.        ,
       0.00149153, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00089069, 0.        , 0.00202247,
       0.        , 0.00176   , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04625992, 0.        , 0.0045    ,
       0.        , 0.01687154, 0.        , 0.00573964, 0.        ,
       0.00552338, 0.        , 0.00732723, 0.        , 0.00172549,
       0.        , 0.00389908, 0.        , 0.        , 0.        ,
       0.        , 0.00893588, 0.00763346, 0.00192163, 0.        ,
       0.        , 0.        , 0.00080734, 0.00714499, 0.        ,
       0.        , 0.00424861, 0.        , 0.00079582, 0.00475586,
       0.00097697, 0.00802587, 0.00085938, 0.00063953, 0.00218195,
       0.00860604, 0.        , 0.0113251 , 0.00099524, 0.        ,
       0.00306977, 0.00877921, 0.        , 0.        , 0.        ,
       0.01936755, 0.00361842, 0.        , 0.00361842, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00090815, 0.00178636, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01792363, 0.00212143,
       0.        , 0.00151685, 0.        , 0.        , 0.        ,
       0.        , 0.00799768, 0.00444944, 0.02803078, 0.00682278,
       0.00394068, 0.        , 0.00212577, 0.        , 0.        ,
       0.        , 0.        , 0.00354627, 0.00413323, 0.00602555,
       0.        , 0.        , 0.        , 0.00278963, 0.        ,
       0.        , 0.011398  , 0.00220445, 0.        , 0.00582985,
       0.        , 0.        , 0.        , 0.00641249, 0.0321892 ,
       0.00416842, 0.        , 0.01245636, 0.        , 0.00047143,
       0.        , 0.01680653, 0.00941244, 0.        , 0.        ,
       0.        , 0.00391318, 0.        , 0.        , 0.00237752,
       0.00291566, 0.00766127, 0.        , 0.        , 0.        ,
       0.00539332, 0.00087176, 0.0046253 , 0.        , 0.02023409,
       0.00095311, 0.        , 0.00084148, 0.00415204, 0.00398422,
       0.00817793, 0.        , 0.00424561, 0.00127709, 0.02688719,
       0.01945991, 0.        , 0.        , 0.00452344, 0.        ,
       0.        , 0.00304198, 0.0027677 , 0.01376302, 0.0275717 ,
       0.        , 0.00522664, 0.00183333, 0.01593989, 0.00080816,
       0.        , 0.00464286, 0.        , 0.00699645, 0.00409944,
       0.02690852, 0.00916876, 0.        , 0.00562012, 0.00290834,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00517992, 0.00418648, 0.01147884, 0.00298193, 0.00549089,
       0.00121664, 0.00244283, 0.        , 0.0004558 , 0.03001683,
       0.00705162, 0.        , 0.00562015, 0.00714859, 0.        ,
       0.02346978, 0.00398119, 0.0109685 , 0.00157143, 0.01045806,
       0.00730817, 0.00611444, 0.00407575, 0.01579298, 0.0083575 ,
       0.0045678 , 0.00508667, 0.00429332, 0.        , 0.00182209,
       0.00518116, 0.00480381, 0.00492357, 0.00246268, 0.0146705 ,
       0.03304998, 0.        , 0.00961031, 0.00730556, 0.00639056,
       0.0009059 ])

In [23]:
rf_load.score(Xs[:,rf_result_selected['Gene index']], ys)

0.9777777777777777

In [24]:
rf.predict_proba(Xs_test[:,rf_result_selected['Gene index']])

array([[0.89, 0.06, 0.05],
       [0.63, 0.12, 0.25],
       [0.87, 0.08, 0.05],
       [0.94, 0.04, 0.02],
       [0.8 , 0.16, 0.04],
       [0.73, 0.26, 0.01],
       [0.65, 0.07, 0.28],
       [0.54, 0.36, 0.1 ],
       [0.02, 0.51, 0.47],
       [0.1 , 0.03, 0.87],
       [0.85, 0.06, 0.09],
       [0.12, 0.24, 0.64]])

In [25]:
pd.DataFrame({'Gene index':rf_result_selected['Gene index'].values,
              'Gene name':genes[rf_result_selected['Gene index'].values]}).to_csv('RF_selected_genes.csv')

In [26]:
selected_genes = []
for i in rf_result_selected['Gene index']:
    selected_genes.append(genes[i])
rf_result_selected['Gene name'] = selected_genes
rf_result_selected.to_csv('RF_selected_genes.csv')

/tmp/ipykernel_247836/2856623931.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rf_result_selected['Gene name'] = selected_genes

In [27]:
rf_result_selected.sort_values(by='Importance',ascending=False).to_csv('RF_selected_genes.csv')

# Recursive feature elimination

In [28]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVC

In [29]:
estimator = SVC(C=3, kernel='linear')
selector = RFE(estimator)

In [30]:
selector = selector.fit(Xs, ys)

In [31]:
selected_genes = np.unique(np.append(np.unique(selector.ranking_[:1000,]),rf_result_selected['Gene index'].values))

In [32]:
selected_genes = pd.DataFrame({'Gene index':selected_genes,
                               'Gene name': genes[selected_genes]})

In [33]:
selected_genes

     Gene index Gene name
0             1      JAG2
1             2    DNASE1
2            22       XPC
3            31      AKT2
4            35     IGHG1
..          ...       ...
968       16588     AKAP2
969       16808      ACHE
970       16837      NCR1
971       17046   FAM225A
972       17106      LDHC

[973 rows x 2 columns]

In [34]:
selected_genes.to_csv('RFE_selected_genes.csv')

In [5]:
np.savetxt('Severity_related',pd.read_csv('selected_genes.csv', index_col='Unnamed: 0')['Gene name'])

0          JAG2
1         RPS16
2          CFL1
3        OGFRL1
4       TMEM245
         ...
963    ARHGEF37
964     SLC15A5
965       ASB14
966    ARHGAP36
967      ZNF564
Name: Gene name, Length: 968, dtype: object

In [36]:
pd.read_csv('RFE_selected_genes.csv')

     Unnamed: 0  Gene index Gene name
0             0           1      JAG2
1             1           2    DNASE1
2             2          22       XPC
3             3          31      AKT2
4             4          35     IGHG1
..          ...         ...       ...
968         968       16588     AKAP2
969         969       16808      ACHE
970         970       16837      NCR1
971         971       17046   FAM225A
972         972       17106      LDHC

[973 rows x 3 columns]

# Lasso Selection

In [73]:
from sklearn.linear_model import LogisticRegression
lasso_log = LogisticRegression(penalty='l1', solver='liblinear', multi_class='ovr')
lasso_log.fit(Xs_train, ys_train)

LogisticRegression(multi_class='ovr', penalty='l1', solver='liblinear')

In [79]:
lasso_index = []
for i in range(len(lasso_log.coef_)):
    for j in range(len(lasso_log.coef_[i])):
        if lasso_log.coef_[i][j]!=0:
            lasso_index.append(j)
lasso_result_selected = pd.DataFrame({'Gene index':lasso_index,
                                      'Gene name':genes[lasso_index]})
lasso_result_selected

    Gene index Gene name
0          388     IFI27
1        13181   ADAMTS2
2        16715      VMO1
3          129  MTRNR2L8
4          388     IFI27
5         3232     DDX3Y
6        11757       ZFY
7        11766      MT2A
8          354   MT-ATP8
9         1861      XIST
10        1982     RPL21
11        2470     RPS27
12        4247     RPL30
13        7461      MMP8
14       10115     RPS26
15       13181   ADAMTS2
16       14011       MIF
17       14798      RHOF
18       15331     DAAM2
19       15831      OLAH
20       16490    TRAV21
21       16715      VMO1
22       16721  TRAV13-2

In [80]:
lasso_result_selected.to_csv('Lasso_selected')

In [91]:
lasso_log_fs = LogisticRegression(solver='liblinear')
lasso_log_fs.fit(Xs_train[:,lasso_index], ys_train)
lasso_log_fs.score(Xs_test[:,lasso_index], ys_test)

0.9166666666666666